footer {
    background-color: #ecebeb;
    height: 20rem;
    padding-top: 3.5rem;
}

small {
    display: block;
    text-align: center;
    font-size: 1em;
    color: black;
}

span {
    font-weight: 600;
}

.border-top {
    border-top: 1px solid gray !important;
    padding-top: 2rem;
}

.bi-instagram {
    font-size: 1.6em;
    padding-bottom: 1rem;
    color: #000;

    &:hover {
        color: #02676d;
    }
}

.a-footer {
    text-align: center;
    font-weight: 400;
    color: #000;

    &:hover {
        text-decoration: none;
        color: #02676d;
    }
}

.list-inline {
    text-align: center;
}