nav {
    min-height: 100px;
    top: 0;
    background-color: white;

    li {
        padding-left: 1.6rem;
    }
}

.navbar {
    padding: 0;
}

.logo {
    min-width: 140px;
    max-width: 160px;
}

.nav-link {
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #02676d;
    transition: 0.3s;
    padding: 2.3rem;

    &:hover {
        color: #ffff;
        background: #02676d;
    }
}

.navbar-toggler {
    font-size: 2em;

    &:focus {
        outline: none;
    }
}

.bi-list {
    color: #02676d;
}

.fixed-top {
    position: fixed;
    top: 0;
}