.testimonial {
    position: relative;
    margin: 8rem 0 7rem 0;
    margin-bottom: 10rem;

    .owl-stage-outer {
        padding: 2rem 0;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        text-align: center;

        span {
            display: block;
            position: relative;
            height: 0.6rem;
            width: 0.6rem;
            margin: 0 5px;
            border-radius: 50%;
            background: #fff !important;
            border: 2px solid #02676d;
        }

        .active {
            box-shadow: none;

            span {
                height: 0.7rem;
                width: 0.7rem;
                background: #02676d !important;
                box-shadow: none;
            }
        }
    }

    .card {
        box-shadow: 7px 8px 30px -7px #02686d6b;
        margin: 0 1.2rem;
        padding: 0 0.6rem;
        border-radius: 1.2rem;
        border: 0;

        .card-img-top {
            max-width: 100px;
            border-radius: 50%;
            margin: 15px auto 0;
            box-shadow: 0 8px 20px -4px #919090;
            width: 100px;
            height: 100px;
        }

        h5 {
            color: #02676d;
            font-size: 1.3em;
            line-height: 1.3;

            span {
                font-size: 1.2em;
                color: #666666;
            }
        }

        p {
            font-size: 1.2em;
            color: black;
            padding-bottom: 1rem;
        }
    }

    .active {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .center {
        opacity: 1;

        h5 {
            font-size: 24px;

            span {
                font-size: 20px;
            }
        }

        .card-img-top {
            max-width: 100%;
            height: 120px;
            width: 120px;
        }
    }
}

@media (max-width: 767px) {
    .gtco-testimonials {
        margin-top: 20px;
    }
}

.owl-carousel {
    .owl-nav button {

        &.owl-next,
        &.owl-prev {
            outline: 0;
        }
    }

    button.owl-dot {
        outline: 0;
    }
}