.practice-area{
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 100%;
    .practice-area-card{
        height: 30rem;
        border: 1px solid $primary-color;
        .practice-area-img{
            height: 15rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .practice-area-text{
            padding: 2rem;
            .practice-area-title{
                font-size: 1.2em;
            }
            a{
                position: absolute;
                color: $secondary-color;
                bottom: 3rem;
            }
        }
    }
}

.items-practicearea-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    @include query(medium){
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }
    .items-practicearea-review{
        width: 45rem;
        @include query(medium){
            width: 100%;
        }
        ul{
            margin-left: 2rem;
        }
    }
    .items-practicearea-contact{
        .items-practicearea-staff{
            display: flex;
            align-items: center;
            margin-top: 1.5rem;
            .items-practicearea-image{
                padding-right: 2rem;
                img{
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }
            .items-practicearea-text{
                p{
                    line-height: 0.6rem;
                }
            }
        }
    }
}

.review-img-container{
    height: 400px;
    padding-top: 2rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}