.practice-area{
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 100%;
    .practice-area-card{
        height: 30rem;
        border: 1px solid $primary-color;
        .practice-area-img{
            height: 15rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .practice-area-text{
            padding: 2rem;
            .practice-area-title{
                font-size: 1.2em;
            }
            a{
                position: absolute;
                color: $secondary-color;
                bottom: 3rem;
            }
        }
    }
}

.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    .review-text{
        width: 45rem;
    }
}

.review-img-container{
    height: 400px;
    padding-top: 2rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.review-img-contacto{
    border-radius: 100%;
    height: 300px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}