.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include query(small){
        grid-template-columns: 1fr;
    }
    .contacto-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/images/palacio-justicia.jpg);
        object-fit: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include query(small){
            height: 25rem;
        }
        ul{
            li{
                list-style: none;
                span{
                    margin-right: 0.5rem;
                    // svg{
                        
                    // }
                }
                span{
                    a{
                        color: $general-color;
                        font-size: $general-fs;
                    }
                }
            }
        }
    }
    .form-bg{
        .form-container{
            padding: 2rem;
        }
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    label {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 55px;
        padding: 10px 25px;
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 1em;
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 1px solid #b3b3b3;
        border-bottom: none;
    }
    input {
        outline: none;
        border: none;
        color: #adadad;
        height: 55px;
        &:focus {
            border-color: transparent !important;
        }
    }
    .input {
        width: 100%;
        position: relative;
        border: 1px solid #b3b3b3;
    }
    .input-name,
    .input-last-name {
        width: 50%;
        @include query(small){
            width: 100%;
        }
    }
    .input-last-name {
        border-left: none;
        @include query(small){
            border-left: 1px solid #b3b3b3;
            border-top: none;
        }
    }
    .input-text {
        display: block;
        width: 100%;
        background: transparent;
        font-size: 1em;
        color: black;
        padding: 0 25px;
        height: 55px;
        &:focus+.focus-input {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
    textarea {
        outline: none;
        border: none;
        color: #adadad;
        &:focus {
            border-color: transparent !important;
        }   
        &.input-text {
            min-height: 139px;
            padding-top: 19px;
            padding-bottom: 15px;
        }
    }
    .focus-input {
        position: absolute;
        display: block;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        pointer-events: none;
        border: 1px solid $primary-color;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s;
        transform: scaleX(1.1) scaleY(1.3);
    }
    .btn-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 23px;
    }
    .disabled-button{
        background: #333333;
    }
    #enviar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 200px;
        height: 50px;
        outline: none !important;
        border: none;
        background: transparent;
        border-radius: 2px;
        background: $primary-color;
        font-size: 0.8em;
        color: $general-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.4s;
        &:hover {
            cursor: pointer;
            background: $secondary-color;
        }
    }
}

.icon-contacto {
    padding-left: 0.5rem;
}

.text {
    padding-left: 2rem;
}
