.staff-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    margin: 6rem 0;
    @include query(medium){
        grid-template-columns: 1fr 1fr;
    }
    @include query(small){
        grid-template-columns: 1fr;
    }
    .staff-card{
        .staff-card-img{
            position: relative;
            transition: .3s ease-in-out;
            width: 200px;
            height: 200px;
            &:hover{
                .overlay{
                    opacity: 1;
                }
            }
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay{
                position: absolute;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(128, 128, 128, 0.486);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                button{
                    border: none;
                    i{
                        position: absolute;
                        color: $general-color;
                        font-size: $s-title;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        p{
            font-weight: 500;
            text-align: center;
            padding-top: 1rem;
        }
    }
}

.modal-body-container{
    .modal-lawyer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        div{
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    .modal-info{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0;
    }
}

hr {
    width: 50%;
    border: 1px solid $primary-color;
    margin: auto;
}