.c-text{
    text-align: center;
}
.l-text{
    text-align: left;
}
.r-text{
    text-align: right;
}

.bold{
    font-weight: 600;
}

.pd{
    padding: 1rem;
}

.p-r1{
    padding-right: 1rem;
}

.p-l1{
    padding-left: 1rem;
}

.p-t1{
    padding-top: 1rem;
}

.p-b1{
    padding-bottom: 1rem;
}

.p-t2{
    padding-top: 2rem;
}

.p-b2{
    padding-bottom: 2rem;
}

.p-b4{
    padding-bottom: 4rem;
}

.p-t4{
    padding-top: 4rem;
}

.p-t6{
    padding-top: 6rem;
}

.p-b6{
    padding-bottom: 6rem;
}

.p-l20{
    padding-left: 20rem;
}

.m-t1{
    margin-top: 1rem;
}

.m-b1{
    margin-bottom: 1rem;
}

.m-t2{
    margin-top: 2rem;
}

.m-b2{
    margin-bottom: 2rem;
}

.m-t3{
    margin-top: 3rem;
}

.gap{
    row-gap: 3rem;
}

.l-height{
    line-height: 2em;
}

.type-italic{
    font-style: italic;
}