strong {
    font-size: 1.1em;
    font-weight: 600;
    color: #666666;
}

.swiper {
    margin: 5rem 0 8rem 0;
    padding: 0 3rem;
}

@media (min-width:320px) and (max-width: 768px) {
    .swiper {
        padding: 0 1rem;
    }
}

@media (max-width: 1024px) {
    .swiper {
        padding: 0 0.8rem;
    }
}

.swiper-wrapper {
    margin-top: 3rem;
    height: 40rem;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32rem;
    padding-top: 2rem;
    box-shadow: 7px 8px 40px -1px #b3b3b39f;
    border-radius: 1.2rem;
    border: 0;
    user-select: none;
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .swiper-slide {
        height: 37rem;
    }
}

@media (max-width: 320px) {
    .swiper-slide {
        height: 37rem;
    }
}

.card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 8px 20px -4px #919090;
    filter: grayscale(100%);
}

.card-text {
    text-align: center;
    font-size: 1.2em;
    color: black;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 1rem !important;
    border: 2px solid #02676d;
    background: #ffff;
    opacity: 5;
}

.swiper-pagination-bullet-active {
    border: none;
    background: #02686d88 !important;
    border: none;
    transition: all .4s;
}