@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
//FONTS
$primary-font: "Roboto", sans-serif;
$secondary-font: 'Merriweather', serif;
//FONT SIZE
$l-title: 3em;
$m-title: 2.5em;
$s-title: 2em;
$general-fs: 1em;
$secondary-fs: 1.6em;
//COLORS
$primary-color: #213243;
$secondary-color: #CB935D;
$general-color: #ffffff;