footer {
    background-color: $primary-color;
    min-height: 20rem;
    img{
        max-height: 90px;
    }
    ul{
        li{
            list-style-type: none;
            span{
                margin-right: 0.5rem;
            }
        }
    }
    nav{
        background-color: transparent;
        ul{
            li{
                list-style-type: none;
                a{
                    color: $general-color;
                    &:hover{
                        color: $secondary-color;
                        text-decoration: none;
                    }
                }
                .active-link{
                    color: $secondary-color;
                }
            }
        }
    }
}