nav {
    height: 100%;
    background-color: $general-color;
    .logo {
       max-height: 100px;
    }
    .nav-link {
        font-size: 1em;
        font-weight: 600;
        text-transform: uppercase;
        color: $primary-color;
        &:hover {
            color: $secondary-color;
        }
    }
    .dropdown{
        &:hover{
            .dropdown-content{
                display: block;
            }
        }
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: $general-color;
            z-index: 1;
            min-width: 160px;
            .nav-item{
                list-style: none;
                .link-dropdown{
                    display: block;
                    font-size: 0.8em;
                    color: $primary-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 12px 16px;
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        font-size: 2em;
        &:focus {
            outline: none;
        }
    }
    .bi-list {
        color: $primary-color;
    }
}