//INDEX 
.primary-btn{
    background-color: $primary-color;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    border: 2px solid $primary-color;
    border-radius: 0.5rem;
    a{
        color: $general-color;
        &:hover{
            color: $general-color;
            text-decoration: none;
        }
    }
    &:hover{
        background-color: #213243a2;
        border: 2px solid $primary-color;
    }
}

.servicies{
    background-image: linear-gradient(rgba(13, 22, 31, 0.9), rgba(13, 22, 31, 0.9)), url(../assets/images/palacio-justicia-interior.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 5rem;
    @include query(small){
        padding: 1rem;
        background-attachment: initial;
    }
    div{
        span{
            color: $secondary-color;
            letter-spacing: 2px;
        }
        h2{
            color: $general-color;
        }
    }
    .card-container{
        min-height: 20rem;
        background-color: #213243a2;
        border-radius: 0rem;
        &:hover{
            background-color: $primary-color;
        }
        a{
            font-size: 1.2em;
            font-family: $secondary-font;
            color: $general-color;
            text-align: center;
            &:hover{
                color: $secondary-color;
                text-decoration: none;
            }
        }
        .card-icon {
            display: flex;
            justify-content: center;
            i{
                font-size: 2rem;
                color: $secondary-color;
            }
        }
    }
}

.section-contact{
    div{
        span{
            color: $secondary-color;
            letter-spacing: 2px;
        }
    }
    ul{
        li{
            list-style: none;
            span{
                margin-right: 0.5rem;
            }
        }
    }
    @include query(small){
        iframe{
            width: 100%;
        }
    }
}

//HERO
.hero {
    @include background(url("../assets/images/palacio-justicia.jpg"));
    &--areas-practica{
        @include background(url("../assets/images/palacio-justicia-interior.jpg"));
    }
    &--equipo{
        @include background(url("../assets/images/palacio-justicia-2.jpg"));
    }
    @include query(small){
        background-attachment: initial;
    }
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
        @media (min-width:320px) and (max-width:768px){
            padding-left: 0;
        }
    }
}

.fas {
    width: 100px;
    height: 100px;
    padding: 1.6rem 0;
    text-align: center;
    font-size: 3em;
    color: #ecebeb;
    background: #02676d;
    border-radius: 100%;
}