//TITLES
.h1-index {
    font-family: $secondary-font;
    font-size: $m-title;
    color: $primary-color;
}

.h1{
    font-family: $secondary-font;
    font-size: $secondary-fs;
    color: $primary-color;
}

h2 {
    font-family: $secondary-font;
    font-size: $s-title;
    color: $primary-color;
}

h3{
    font-size: $secondary-fs;
    color: $primary-color;
}

.subtitle{
    font-size: $general-fs;
    letter-spacing: 2px;
    color: $secondary-color;
}

//HERO
.hero-title {
    font-size: $general-fs;
    color: $general-color;
    text-transform: uppercase;
    text-align: left;
}

.hero-subtitle {
    font-size: $general-fs;
    color: $general-color;
    text-transform: uppercase;
    text-align: left;
}

.hero-p{
    font-size: $s-title;
    color: $general-color;
    text-align: left;
}

//PARAGRAPHS & LINKS
.paragraph-white{
    color: $general-color;
}

//CARDS 
.title-card {
    color: $general-color;
    font-size: $general-fs;
    font-family: $secondary-font;
}

.text-card{
    color: $general-color;
    font-size: $general-fs;
    text-align: center;
}

.link-card {
    font-family: $secondary-font;
    color: $general-color;

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}